*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html{
    box-sizing: border-box;
  }
.register{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(25, 175, 25);
    gap: 2rem;

}
.registrationDetails{
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: green;
    box-shadow: 5px 2px #888888;
    border-radius: 10px;
    height: 70vh;
    flex-wrap: nowrap;
    width:40%;
    align-items: center;
    font-weight: bold;
    gap: auto;
}
.registrationDetails > p{
    color: rgb(200, 36, 36);
}
.registrationDetails:hover{
    background-color:blueviolet;
}
.registrationButtons{
    display: flex;
    gap: 4rem;
    margin: 10px;
    border-radius: 10%;
}
.Login{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(25, 175, 25);
    gap: 2rem;
    


}
    
.loginDetails{
display: flex;
flex-direction:column;
justify-content: center;
background-color: green;
box-shadow: 5px 2px #888888;
border-radius: 10px;
height: 50vh;
flex-wrap: nowrap;
width:40%;
align-items: center;
font-weight: bold;

}
.loginDetails >p{
    color:rgb(179, 21, 21);
}
.loginDetails:hover{
background-color: blueviolet;
}
.submitBtn{
  color:cornflowerblue;
  border-radius: 2px;
  border: 1px solid black;
}
