.Homepage{
min-height: 80vh;
min-width: 220vh;
background-color: violet;
text-align: center;
}
.NavigationLinks{
display: flex;
gap: 2rem;

}
.HeadContents{
  display: flex;
  background-color: lightblue;
  gap: 30%;
  align-items: center;
  align-items: center;

}
.DataAnalytics{
  min-height: 80vh;
min-width: 220vh;
background-color: violet;
}
.FarmersSharing{
min-height: 80vh;
min-width: 220vh;
background-color: violet;
}
.MarketLinkage{
min-height: 80vh;
min-width: 220vh;
background-color: violet;
}
.Trainings{
min-height: 80vh;
min-width: 220vh;
background-color: violet;
}
.ContactUs{
min-height: 80vh;
min-width: 220vh;
background-color: violet;
}
.NotFound{
min-height: 80vh;
min-width: 220vh;
background-color: violet;
text-align: center;
}